@font-face {
  font-family: 'TTTravels-ExtraLight';
  src: url('../fonts/TTTravels-ExtraLight.eot');
  src: local('TTTravels-ExtraLight'), local('TTTravels-ExtraLight'),
  url('../fonts/TTTravels-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTTravels-ExtraLight.woff') format('woff'),
  url('../fonts/TTTravels-ExtraLight.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTTravels-Light';
  src: url('../fonts/TTTravels-Light.eot');
  src: local('TTTravels-Light'), local('TTTravels-Light'),
  url('../fonts/TTTravels-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTTravels-Light.woff') format('woff'),
  url('../fonts/TTTravels-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTTravels-Regular';
  src: url('../fonts/TTTravels-Regular.eot');
  src: local('TTTravels-Regular'), local('TTTravels-Regular'),
  url('../fonts/TTTravels-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTTravels-Regular.woff') format('woff'),
  url('../fonts/TTTravels-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../fonts/Gilroy-SemiBold.eot');
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
  url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-SemiBold.woff') format('woff'),
  url('../fonts/Gilroy-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTTravels-DemiBold';
  src: url('../fonts/TTTravels-DemiBold.eot');
  src: local('TTTravels-DemiBold'), local('TTTravels-DemiBold'),
  url('../fonts/TTTravels-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTTravels-DemiBold.woff') format('woff'),
  url('../fonts/TTTravels-DemiBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTTravels-Bold';
  src: url('../fonts/TTTravels-Bold.eot');
  src: local('TTTravels-Bold'), local('TTTravels-Bold'),
  url('../fonts/TTTravels-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTTravels-Bold.woff') format('woff'),
  url('../fonts/TTTravels-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}