.hg-theme-default {
  background-color: #282829;
}
.hg-theme-default .hg-button {
  background: #474747;
  height: 55px;
}
.simple-keyboard .hg-button:active {
  background: #383838;
  color: white;
}