.qr-page {
  padding: 217px 0;
  &__title {
    margin-bottom: 84px;
  }

  &__camera {
    background: rgba(230, 230, 230, 0.4);
    border: 5px solid rgba(255, 255, 255, 0.54);
    backdrop-filter: blur(13px);
    border-radius: 7px;
    width: 684px;
    height: 681px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__camera--image {
    width: 267px;
    height: 267px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__camera--icon {
    width: 140px;
    height: 88px;
    svg {
      width: 100%;
    }
  }
}